[Unit]
Description=HAProxy Load Balancer
StartLimitInterval=0
StartLimitBurst=0
After=network.target

[Service]
Environment="CONFIG=/etc/haproxy/haproxy.cfg" "PIDFILE=/run/haproxy.pid"
EnvironmentFile=-/etc/default/haproxy
ExecStartPre=/usr/local/sbin/haproxy -f $CONFIG -c -q
ExecStart=/usr/local/sbin/haproxy -W -f $CONFIG -p $PIDFILE

# legacy reload, errors if high load or frequent reload
#ExecReload=/usr/local/sbin/haproxy -f $CONFIG -c -q

# reload with socket transfer, should be no errors
# requires 'expose-fd listeners' in haproxy.cfg
ExecReload=/usr/local/sbin/haproxy -f $CONFIG -c -q -x /run/haproxy/admin.sock

ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Restart=always
Type=forking

[Install]
WantedBy=multi-user.target

